{% extends "SWDMadridBundle::base.html.twig" %}

{% block navigation %}
    {% include 'SWDMadridBundle:Nav:menu-simple.html.twig' %}
{% endblock %}

{% form_theme formFiltrosParticipante 'SWDMadridBundle:Form:fields.html.twig' %}
{% form_theme formSorteo 'SWDMadridBundle:Form:fields.html.twig' %}

{% block content %}
    <div ng-app="participantesApp" class="container-fluid last margin-top-20">
        <div id="mensajeEspera" class="row">
            <center>
                <h3><i class="fa fa-spinner fa-spin"></i> Cargando <span class="inverso">| Loading ...</span></h3>
            </center>
        </div>
        <div class="seccionAngular" ng-controller="Participantes" style="display: none">
            {% if is_granted('ROLE_ADMIN') %}
                <h3>Lanzar Sorteo</h3>
                {% include 'SWDMadridBundle:Admin:Sorteos/formularioSorteo.html.twig' %}
                {% include 'SWDMadridBundle:Admin:Sorteos/ganadores.html.twig' %}
                <br>
            {% endif %}
            <h3>Lista de Registrados{% if is_granted('ROLE_INSTITUCION') %} en {{ app.user.nombre }} - (<a target="_blank" href="https://docs.google.com/document/d/1rWzfIElksmhhYZLtHQivkk5ROaaQU7K2uBckMMMRKTY/edit?usp=sharing">ayuda</a>){% endif %}</h3>
            {% if is_granted('ROLE_INSTITUCION') %}
                {% include 'SWDMadridBundle:Admin:ListaParticipantes/formularioCheckear.html.twig' %}
                <h4>¡[[ participantes.length ]] participantes checkeados!</h4>
            {% endif %}
            {% include 'SWDMadridBundle:Admin:ListaParticipantes/mensajes.html.twig' %}
            {% include 'SWDMadridBundle:Admin:ListaParticipantes/filtro.html.twig' %}
            {% include 'SWDMadridBundle:Admin:ListaParticipantes/lista.html.twig' %}
            {% if is_granted('ROLE_EMPLEADO') %}
                <div class="block">
                    {% include 'SWDMadridBundle:Default:formularioInscripcion.html.twig' %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock content %}

{% block custom_stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/swdmadrid/src/css/mswd-estud.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var participantesREST = "{{ url('get_participantes') }}";
        var sorteosREST = "{{ url('get_sorteos') }}";
        var urlGuardarInscripcion = "{{ url('guardarInscripcion') }}";
        var checkearParticipanteURL = "{{ url('checkearParticipante') }}";
        var asistido = 1;
    </script> 
    {# AngularJS #}
    <script src="{{ asset('bundles/swdmadrid/vendor/js/angular/angular.min.js') }}"></script>
    <script src="{{ asset('bundles/swdmadrid/vendor/js/angular-sanitize/angular-sanitize.min.js') }}"></script>
    <script src="{{ asset('bundles/swdmadrid/vendor/js/angular-resource/angular-resource.min.js') }}"></script>
    <script src="{{ asset('bundles/swdmadrid/vendor/js/angular-route/angular-route.min.js') }}"></script>
    <script src="{{ asset('bundles/swdmadrid/vendor/js/angular-bootstrap/ui-bootstrap-tpls.min.js') }}"></script>
    {# Aplicación del Blog #} 
    <script src="{{ asset('bundles/swdmadrid/src/js/funciones_aux.js') }}"></script>
    <script src="{{ asset('bundles/swdmadrid/src/js/participantesApp/participantesControllers.js') }}"></script>
    <script src="{{ asset('bundles/swdmadrid/src/js/participantesApp/participantesFilters.js') }}"></script>
    <script src="{{ asset('bundles/swdmadrid/src/js/participantesApp/participantesApp.js') }}"></script>
    <script src="{{ asset('bundles/swdmadrid/src/js/formularioInscripcion.js') }}"></script>
{% endblock %}
