<footer class="copyright-section">
    <h4>Madrid Student Welcome Day 2021</h4>
    <h5>El Madrid Student Welcome Day es una idea original de la empresa de Alojamientos <a href="http://www.aluni.net" target="_blank">Aluni.Net</a></h5>
    <h5><a href="{{ url('clausulaPrivacidad') }}" target="_blank">Política de Privacidad</a>, <a href="{{ url('avisoLegal') }}" target="_blank">Aviso Legal</a> y <a href="{{ url('politicaCookies') }}">Política de Cookies</a></h5>
    <ul class="social-icons">
        <li><a href="{{ facebook_url }}" data-original-title="Facebook" target="_blank" class="social_facebook rounded-x"></a></li>
        <li><a href="{{ twitter_url }}" data-original-title="Twitter" target="_blank" class="social_twitter rounded-x"></a></li>
        <li><a href="{{ google_plus_url }}" data-original-title="Goole Plus" target="_blank" class="social_googleplus rounded-x"></a></li>
        <li><a href="{{ youtube_url }}" data-original-title="Youtube" target="_blank" class="social_youtube rounded-x"></a></li>
    </ul>
    <span class="page-scroll" onclick="scrollToTop();"><a href="#"><i class="fa fa-angle-double-up back-to-top"></i></a></span>
</footer>